@font-face {
	font-family: 'Roboto-Regular';
	src: url('../font/Roboto-Regular.eot?#iefix')
	format('embedded-opentype'),
	url('../font/Roboto-Regular.woff') format('woff'),
	url('../font/Roboto-Regular.ttf')  format('truetype'),
	url('../font/Roboto-Regular.svg#Roboto-Regular')
	format('svg');
	font-weight: normal;
	font-style: normal;
}
body {
	font-family: 'Roboto-Regular';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: flex;
    width: 100%;
}
#aside {
    padding: 20px;
    width: 17%;
    height: 760px;
    overflow-y: auto;
    background-color: #f4f5fd;
    border-right: 3px solid #9ca1aa;
}
ul {
    list-style-type: none;
}
#aside h1 {
    color: #f0ad4e;
	text-align: center;
}
#aside h1 span {
    color: #86c3ff;
}
.database-list {
    margin-left: -8px;
}
.article {
    display: none;
}
#new-db {
    display: block;
}
#create-db {
    cursor: pointer;
}
#new-db {
    margin-top: 20px;
    margin-left: 50px;
}
#db-name,
#charsets,
#db-submit {
    height: 25px;
    outline: none;
}
#charsets,
#columns-title {
    width: 250px;
}
#db-name {
    width: 220px;
    margin-right: 20px;
    margin-bottom: 10px;
}
#db-submit,
#table-submit,
#update-db-submit,
#update-tbl-submit {
    width: 60px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid #848696;
    cursor: pointer;
    background-color: #f4f5fd;
}
#db-submit:hover,
#table-submit:hover,
#update-db-submit,
#update-tbl-submit {
    background-color: #f4f5fd;
}
.tables-list {
    display: none;
}
.fa-minus-square,
.fa-plus-square,
.horizontal-line,
.fa-database {
    color: #848696;
}
.fa-plus-square,
.fa-minus-square {
    background-color: white;
}
.db-name:hover {
    cursor: pointer;
}
.fa-minus-square {
    display: none;
}
.tables-list {
    margin-left: -1px;
}
.table-name, .new-table {
    font-size: 12px;
    margin-top: 5px;
    color: #848696;
    cursor: pointer;
}
.hide-line {
    width: 350px;
    border-left: 1px solid #848696;
    margin-left: 25px;
}
.databases {
    margin-top: 20px;
}
.databases .vertical-line {
	border-left: 1px solid #848696;
	margin-left: 10px;
	padding-bottom: 5px;
    width: 350px;
}
.databases .vertical-line:last-child {
    border-left: none;
}
table {
    border-collapse: collapse !important;
    margin: 20px 0 !important;
}
td, th {
    text-align: left !important;
    padding: 8px !important;
}
th {
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
}
tr:nth-child(odd) {
    background-color: #dddddd !important;
}
#content {
    background-color: #f8fafc;
    position: relative;
    width: 83%;
}
#new-table,
#update-db,
#del-db,
#update-table,
#del-table {
    width: 98%;
    margin: 20px auto 0;
}
#update-table {
    margin-top: 50px;
}
fieldset {
    height: 130px !important;
    padding-top: 25px;
    border-radius: 7px;
    padding-left: 20px;
    border: 1px solid #a8b0c2;
    background-color: #e4e7ec;
}
legend {
    border: 1px solid #a8b0c2;
    padding: 5px;
    border-radius: 2px;
    background-color: #fff;
}
#tableName,
#update-name,
#dbName,
#tblName {
    height: 25px;
    width: 250px;
    outline: none;
    padding-left: 5px;
}
#numberColumn, #update-number {
    height: 25px;
    width: 40px;
    outline: none;
    padding-left: 5px;
}
#button-block {
    background-color: #b0b7c8;
    width: 100%;
    height: 100%;
}
#table-submit,
#update-db-submit,
#update-tbl-submit{
    margin-left: 90%;
    background-color: #f6f7f8;
    height: 25px;
}
#add-submit {
    height: 25px;
    width: 60px;
    margin-left: 20px;
    border-radius: 20px;
    border: 1px solid #848696;
    cursor: pointer;
}
.table {
    width: 100%;
    margin: 0;
}
.table th {
    border-right: none;
    border-left: none;
}
#table {
    width: 98%;
    margin: 20px auto 0 !important;
}
.line {
    width: 100%;
    margin-top: 20px;
    background-color: #b0b7c8;
    height: 20px;
}
#delete-db-submit,
#delete-tbl-submit,
.fa-calendar-times {
    color: red;
}
#delete-db-submit,
#delete-tbl-submit {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
#delete-db-submit:hover,
#delete-tbl-submit:hover {
    text-decoration: underline;
    color: #fff;
    background-color: red;
}
#update-db-modal {
    width: 300px;
    border: 1px solid #848696;
    border-radius: 3px;
    background-color: #fff;
    padding: 3px;
    position: fixed;
    left: 40%;
    top: 40%;
    display: none;
}
#modal-header {
    background-color: #b0b7c8;
    width: 100%;
    display: flex;
    padding: 5px;
    border-radius: 3px;
    justify-content: space-between;
}
#modal-header h5 {
    margin-top: 3px;
}
.close {
    width: 20px !important;
    height: 20px !important;
    color: #b0b7c8;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
}
.close:hover {
    border: 1px solid #848696;
    color: #848696;
}
#modal-body {
    padding: 10px 15px 20px;
    border-bottom: 1px solid #b0b7c8;
}
#modal-body p {
    font-size: 14px;
}
#modal-footer {
    padding: 10px 15px 15px;
}
.confirm-db, .cancel-db-update {
    width: 40px;
    height: 30px;
    margin-left: 130px;
    border-radius: 4px;
    border: 1px solid #848696;
    cursor: pointer;
}
.confirm-db-update:hover, .cancel-db-update:hover {
    background-color: #f4f5fd;
}
.cancel-db-update {
    width: 80px;
    margin-left: 5px;
}
.load-aside {
    width: 15px;
    height: 15px;
    position: absolute;
    display: none;
}
.load-content {
    position: fixed;
    left: 50%;
    top: 40%;
    display: none;
}
.name-field,
.type-field,
.length-field,
.default-field,
.index-field{
    height: 25px;
    width: 170px;
}
#bot-line {
    background-color: #b0b7c8;
    height: 50px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#save-table {
    width: 50px;
    height: 25px;
    margin-left: 92%;
    margin-top: 12px;
    border-radius: 20px;
    border: 1px solid #848696;
    cursor: pointer;
}
#save-table:hover {
    background-color: #f4f5fd;
}
.fields {
    height: 60px;
}
#table-structure, #table-columns {
    padding-top: 20px;
}
#table-structure {
    padding: 20px;
}
#table-title,
#table-content {
    padding-left: 20px;
}
.browse {
    width: 200px;
    height: 30px;
}
.browse:last-child {
    margin-left: 20px;
}
.structure-column {
    cursor: pointer;
}
.browse-column, .structure-str {
    background-color: transparent;
    border: none;
    outline: none;
}
